@model IEnumerable<SellIt.Entities.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Voitures</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avalaible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeAssurancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelayExchange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avalaible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeAssurancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelayExchange)
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CarId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CarId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CarId })
            </td>
        </tr>
    }

</table>

<div class="col-md-4">
    @Html.ActionLink("Retour", "Index", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn bouton" })
</div>

