
@{
    ViewBag.Title = "IndexSellers";
}

<div class="row">
    <div class="col-md-4">
        <div class="row buttonMenu">
            @Html.ActionLink("Retour", "Index", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn bouton" })
        </div>
    </div>

        <div class="col-md-4">
            <div class="row buttonMenu">
                @Html.ActionLink("Créer un nouvel utilisateur", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn bouton" })<br /><br />
            </div>
            <div class="row buttonMenu">
                @Html.ActionLink("Afficher les utilisateurs", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn bouton" })<br /><br />
            </div>
            <div class="row buttonMenu">
                @Html.ActionLink("Créer un vendeur", "Create", "Sellers", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn bouton" })<br /><br />
            </div>
            <div class="row buttonMenu">
                @Html.ActionLink("Supprimer un vendeur", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn bouton" })
            </div>
        </div>

        <div class="col-md-4">

        </div>
    </div>

